<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="/">OnDmand</a>
	   <div class="col-8">
	  <form class="form-inline"  action="/search" method="post">
	    <input name="search" class="form-control w-75 mr-sm-2" type="search" placeholder="Search Jobs" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		<a href="/post">Post a Job</a>
	  </form>
		</div>
		<a href="/profile" style="color: black"><i class="fas fa-user fa-2x ml-2"></i></a>
		<a href="/logout">Logout</a>
	</nav>

<div class="container-fluid">
	<div class="row">
		<div id="filter" class="col-2 border-right">
			<h4>Sort By</h4>
			<div class="list-group">
			  <a href="/orderBy/date" class="list-group-item list-group-item-action <% if(orderBy =="date"){%> <%= "active"%> <%}%>">Date</a>
			  <a href="/orderBy/wage" class="list-group-item list-group-item-action <% if(orderBy =="wage"){%> <%= "active"%> <%}%>">Wages</a>
			  <a href="/orderBy/title" class="list-group-item list-group-item-action <% if(orderBy =="title"){%> <%= "active"%> <%}%>">Alphabetical</a>
			</div>
		</div>
		<div id="result" class="col-10">
			<h4>Results for</h4>
				<table id="table" border = "1" >
				<table id="table" class="table table-bordered table-striped">
						<thead>
								<tr>
										<th>Job title</th>
										<th>Location</th>
										<th>Date</th>
										<th>Wage</th>
										<th>Description</th>
								</tr>
						</thead>
						 <tbody>
						 <% jobList.forEach(function (job) { %>
								<tr>
										<td><%= job.title %></td>
										<td><%= job.location %></td>
										<td><%= job.date %></td>
										<td><%= job.wage %></td>
										<td><%= job.description %></td>
										<td>
											<a href="/deletepost/<%= job.id %>">
											<button id="delete" type="button" class="btn btn-primary">Delete</button>
											</a>
										</td>
										<td>
											<a href="/updatepost/<%= job.id %>">
											<button id="update" type="button" class="btn btn-primary">Update</button>
											</a>
										</td>
								</tr>
						 <% }) %>
						 </tbody>
				</table>

		</div>
	</div>
</div>
